@using BanDoNoiThat.Models 
@model List<ReportAll>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    

}

<h2>Report</h2>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Selling Quantity</th>
                            <th>Total Selling Price</th>
                            <th>Import Quantity</th>
                            <th>Total Import Price</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Selling Quantity</th>
                            <th>Total Selling Price</th>
                            <th>Import Quantity</th>
                            <th>Total Import Price</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach ( var item  in Model)
                        {
                            <tr>

                                <td> @item.code </td>
                                <td>@item.name</td>
                                <td>@item.sell_amount</td>
                                <td>@item.sell_price</td>
                                <td>@item.import_quantity</td>
                                <td>@item.import_price</td>
                                

                            </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- Bootstrap core JavaScript-->
<script src="~/Content/Admin_Template/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/Admin_Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Content/Admin_Template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/Admin_Template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/Content/Admin_Template/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Admin_Template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/Admin_Template/js/demo/datatables-demo.js"></script>
